:root {
  --progress: 0%;
  --red: #e03352;
  --grey: #777777;
  --blue: #0052b4;
  --green: #3cb371;
  --white: #ffffff;
  --black: #000000;
  --crimson: #d80027;
  --border: 1px solid #dddddd;
  --transparent: rgba(255, 255, 255, 0.1);
}

#wrong::backdrop {
  background-color: var(--red);
}

#right::backdrop {
  background-color: var(--green);
}

#stats::backdrop {
  background-color: var(--grey);
}

[popover] {
  width: 100%;
  height: 100%;
  border: none;
  background: none;
  box-sizing: border-box;
}

html {
  height: 100%;
}

body {
  margin: 0;
  height: 100%;
  padding: 20px;
  display: flex;
  user-select: none;
  box-sizing: border-box;
  font-family: monospace;
  flex-direction: column;
}

header {
  height: 16px;
  position: relative;
  padding-bottom: 4px;
  border-bottom: var(--border);

  button {
    padding: 0;
    font-size: 14px;
    background: none;
    text-align: left;
    color: var(--black);
  }

  &:after {
    left: 0;
    height: 1px;
    content: '';
    bottom: -1px;
    position: absolute;
    width: var(--progress);
    background: var(--crimson);
  }
}

section {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

footer {
  height: 100px;
  padding-top: 40px;
  box-sizing: border-box;
}

aside {
  position: relative;
  color: var(--white);

  &#wrong button {
    background: var(--crimson);
  }

  &#stats button {
    margin-top: 10px;
    background: var(--grey);
  }

  span {
    height: 225px;
    display: block;
    font-size: 200px;
  }

  div {
    font-size: 20px;
    text-align: center;
    color: var(--white);
  }

  article {
    width: 80%;
    padding: 20px;
    margin: 0 10%;
    box-sizing: border-box;
    background: var(--transparent);

    position: absolute;
  top: 50%;
  transform: translateY(-50%);
  }
}

h1 {
  margin: 0;
  font-size: 26px;
  text-align: center;
}

p {
  text-align: center;

  &#right-answer {
    font-size: 18px;
  }
}

button {
  width: 100%;
  border: none;
  display: block;
  font-size: 22px;
  padding: 12px 8px;
  border-radius: 50px;
  color: var(--white);
  background: var(--blue);
}

label {
  padding: 20px 0;
  font-size: 17px;
  border-bottom: var(--border);

  input {
    accent-color: var(--blue);
  }
}
