:root {
  --progress: 0%;
}

html {
  height: 100%;
}

#right::backdrop {
  background-color: #3cb371;
}

#wrong::backdrop {
  background-color: #e03352;
}

#stats::backdrop {
  background-color: #777777;
}

[popover] {
  border: none;
  padding: 50px;
  background: rgba(255, 255, 255, 0.1);
}

button {
  width: 100%;
  border: none;
  color: #ffffff;
  display: block;
  font-size: 22px;
  padding: 12px 8px;
  background: #0052b4;
  border-radius: 50px;
}

body {
  margin: 0;
  height: 100%;
  padding: 20px;
  display: flex;
  box-sizing: border-box;
  font-family: monospace;
  flex-direction: column;
}

header {
  height: 16px;
  position: relative;
  padding-bottom: 4px;
  border-bottom: 1px solid #dddddd;

  button {
    padding: 0;
    color: #000000;
    font-size: 14px;
    background: none;
    text-align: left;
  }

  &:after {
    left: 0;
    height: 1px;
    content: '';
    bottom: -1px;
    position: absolute;
    background: #d80027;
    width: var(--progress);
  }
}

section {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

footer {
  height: 100px;
  padding-top: 40px;
  box-sizing: border-box;
}

aside {
  color: #ffffff;
  max-width: 65%;
}

h1 {
  margin: 0;
  font-size: 26px;
  text-align: center;
}

p {
  text-align: center;

  &#right-answer {
    font-size: 18px;
  }
}

label {
  padding: 20px 0;
  font-size: 17px;
  border-bottom: 1px solid #dddddd;

  input {
    accent-color: #0052b4;
  }
}

aside span {
  height: 225px;
  display: block;
  font-size: 200px;
}

aside div {
  color: #ffffff;
  font-size: 20px;
  text-align: center;
}

aside button {
  background: #d80027;
}

aside button[popovertargetaction="hide"] {
  margin: 10px 0;
  background: #777777;
}
